/* medium screen  */

nav {
  background-color:rgb(204, 236, 17);
  
}
  /* #reviews-list li {
      max-width: 80%;
  } */

  .filter-options {
background-color: rgb(211, 231, 170);
  }

  #restaurants-list {
      background-color: blueviolet;
  }