@charset "utf-8";

/* CSS Document */
* {
  margin: 0;
  padding: 0;
}

body,
td,
th,
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15pt;
  color: #333;
  line-height: 1.5;
}

body {
  /* background-color: #571921; */
  margin: 0;
  position: relative;
  padding: 0;
  margin-left: auto;
  /*per Doug Brown */
  margin-right: auto;
  /*per Doug Brown*/
  height: 100%;
  font-size: 15px;
}

/* per alexandro walkthrough made into seperate css files 
@media screen and (min-width: 600px){
  body {
    background-color: green;
  }
} 
@media screen and (min-width: 1024px){
  body {
    background-color: blue;
  }
} */

ul,
li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-weight: 500;
  color: #333;
  list-style: none;
}

a {
  color: rgb(23, 7, 44);
  text-decoration: none;
}

a:hover,
a:focus {
  color: #3397db;
  text-decoration: none;
}

a img {
  border: none 0px #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
  font-weight: 500;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* https: //www.youtube.com/watch?v=UnEItq289lU&index=5&list=PLWjCJDeWfDdcEtSnqq_iGLKGA_H_3o3y7 */
/* need to create a html for this to work ? where */
/* Per doug Brown `.skip` links are not needed */
/* .skip {
  top: -30px;
  left: 0;
  z-index: 125;
  position: absolute;
}

.skip:focus {
  top: 0;
} */
/* using vw and vh per Danny, he states that it is easy with the calc function */
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
}

#footer {
  background-color: #444;
  color: #aaa;
  font-size: 12pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

/* ====================== Navigation ====================== */
nav {
  display: flex;
  width: 100%;
  height: auto;
  background-color: rgb(215, 236, 27);
  text-align: center;
}

nav h1 {
  margin: auto;
  padding: 20px 25px;
}

nav h1 a {
  color: rgb(18, 17, 27);
  font-size: 15pt;
  /*not sure if I like it that big, need to followup on this . want to change the font on this also */
  font-weight: 900;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-family: 'Sofia';
  font-size: 22px
}

#breadcrumb {
  padding: 10px 40px 16px;
  list-style: none;
  background-color: rgb(178, 188, 216);
  font-size: 20px;
  /* font-style:bold; */
  font-weight: 700;
  margin: 0;
  width: calc(50% - 80px);
  /*?need to find out more about this / https://www.w3schools.com/cssref/func_calc.asp , also need to understand breadcrumb more */
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
  padding: 8px;
  color: rgb(149, 194, 219);
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #03203a;
  text-decoration: none;
  font-weight: 700;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #38375e;
  text-decoration: underline;
}

/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
  text-align: center;
}

.map-aria-description {
  display: none;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: auto;
  padding: 15px 0 4px;
  background-color: rgb(55, 50, 85);
  align-items: center;
  text-align: center;
}

.filter-options:focus {
  color: rgb(28, 35, 94);
}

.filter-options h2 {
  color: rgb(195, 204, 228);
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
  /* padding: 10px 0; */
}

.filter-options select {
  background-color: rgb(198, 205, 230);
  border: 1px solid rgb(39, 39, 63);
  font-family: Arial, sans-serif;
  font-size: 11pt;
  height: 45px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #a3aa9d;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#restaurants-list li {
  /* display: flex;
  flex-wrap: wrap; */
  background-color: rgb(158, 149, 187);
  border: 2px solid rgb(69, 78, 55);
  font-family: Arial,
    sans-serif;
  font-weight: 500;
  margin: 15px;
  /* min-height: 380px; */
  padding: 0 30px 25px;
  text-align: left;
  min-width: 270px;
  max-width: 300px;
}

/* display: flex; */
/* per alexandro walkthrough: use flex, and flex wrap instead of grid, also add to media queries */

#restaurants-list .restaurant-img {
  /*doug brown's walkthrough*/
  background-color: rgb(216, 238, 196);
  display: block;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
  overflow: hidden;
}

#restaurants-list li h1 {
  /*change font family*/
  color: #c9d4c5;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14pt;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  padding: 0 25px;
  height: 20px;
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 0;
  font-size: 14pt;
  font-weight: 500;
  padding: 0 20px;
  width: 90%;
}

#restaurants-list li a {
  /*change font style*/
  background-color: rgb(117, 165, 90);
  border-bottom: 3px solid rgb(86, 81, 109);
  color: rgb(24, 29, 24);
  display: inline-block;
  font-size: 15pt;
  margin: 15px 15px 0 15px;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  /* width: 90%; */
}

/* ====================== Restaurant Details ====================== */
/* .inside header { commented out per Doug because of the fixed position 
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  } */

.inside {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.inside header {
  width: 100%;
}

.inside #map-container {
  background: rgb(35, 51, 143) none repeat scroll 0 0;
  height: 200px;
  position: relative;
  right: 0;
  width: 100%;
}

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

.inside #footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}

#restaurant-name {
  color: #2d1461;
  font-family: Arial, sans-serif;
  font-size: 20pt;
  font-weight: 900;
  letter-spacing: 0;
  margin: 15px 10px;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-img {
  margin: auto;
  width: 100%;
  height: auto;
}

#restaurant-address {
  font-size: 12pt;
  text-align: center;
  font-weight: 500;
  margin: 10px 0px;
}

.restaurant-info-label {
  display: none;
}

#restaurant-cuisine {
  background-color: rgb(57, 47, 70);
  color: #ddd;
  font-size: 12pt;
  font-weight: 600;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: auto;
}

#restaurant-container,
#reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 20px 20px;
  width: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

#reviews-container {
  padding: 30px 40px 80px;
  margin-left: auto;
  margin-right: auto;
}

#reviews-container h2 {
  color: #2c213a;
  font-size: 24pt;
  font-weight: 900;
  letter-spacing: -1px;
  padding-bottom: 1pt;
  text-transform: uppercase;
  margin-bottom: 10px;
}

#reviews-list {
  margin: 0 0 10px;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#reviews-list li {
  background-color: rgb(221, 214, 228);
  border: 2px solid #7a737a;
  box-shadow: 6px 8px 7px 4px rgb(96, 70, 100);
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 0 20px;
  position: relative;
  width: 90%;
}

#reviews-list li p {
  margin: 0 10px 15px 10px;
}

#restaurant-hours td {
  color: #666;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 500;
  padding: 3px 3px;
  text-align: center;
}

/* =======================Media Queries============================= */
/* https://www.w3schools.com/css/css_rwd_mediaqueries.asp */



@media (max-width: 1024px) {

  /*ipad */
  nav {
    background-color: rgb(86, 76, 116);
  }

  #restaruants-list li {
    max-width: 100%;
  }
}

/* medium screen  */
@media (max-width: 650px) {
  nav {
    background-color: rgb(95, 92, 139);
  }

  #restaruants-list li {
    max-width: 80%;
  }
}

/* small screen  */
@media (max-width: 32px) {

  /*iphone */
  nav {
    background-color: rgb(80, 70, 110);
  }

  #restaruants-list li {
    max-width: 50%;
  }

  #footer {
    font-size: 8px;
    text-align: center;
    width: 100%;

  }

  .inside #footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

  }
}